# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
target/
**/target/

# Vercel
.vercel/

# Logs
*.log
*.log.*

# Environment files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Uploads
uploads/

### IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

### NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code
.vscode/

### OS
.DS_Store
Thumbs.db
desktop.ini

# Custom
Backend/target/
Frontend/dist/